#header {
    font-size: 3em;
    font-family: sans-serif;
    color: red;
}
#score {
    font-size: 2em;
    padding: 25px;
    color: blue;
}
body {
    background-color: white;
}

.check{
    margin: 25px 0 0 0;
    padding: 10px;
}